<h1>Forgot password</h1>
<% if !flash[:notice].blank? %>
		<div class="notice">
		<%= flash[:notice] %>
		</div>
<% end %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:password_reset, url: password_resets_path) do |f| %>
        <%= f.label :email %>
        <%= f.email_field :email %>
        <%= f.submit "Submit" %>
    <% end %>
  </div>
</div>