<%=link_to("back to menu", root_path)%>
<% if !flash[:danger].blank? %>
	<%= flash[:danger] %>
<% end %>
<h1>Login form</h1>
<%= form_for(:session, url: login_path) do |f| %>
    <%= f.label :name %></br>
    <%= f.text_field :name%></br></br>
    <%= f.label :password %></br> <%= link_to "Forgot?", new_password_reset_path %>
    <%= f.password_field :password%></br></br>
    <%= f.label :remember_me do%>
        <%= f.check_box :remember_me %>
        <span>Remember me on this computer</span>
    <% end %></br>
    <%= f.submit %>
<% end %>