<%=link_to("Back to main", root_path)%><br/>
<%= will_paginate %>
<% @users.each do |user| %>
    <%= link_to user.name, user%>
    <% if current_user.admin? && !current_user?(user) %>
         <%= link_to "delete", user, method: :delete, data: {confirm: "You sure?"}%>
    <% end %>
    </br>
<% end %>
<%= will_paginate %>