<%=link_to("Back to main", root_path)%>

<% if @user.errors.any? %>
<% @user.errors.full_messages.each do |msg| %>
    <%= msg %>
<% end %>
<% end %>

<%= form_for(@user) do |f| %>
    <%= f.label :name %><br />
    <%= f.text_field :name %><br /><br />
    
    <%= f.label :email %><br />
    <%= f.email_field :email %><br /><br />
    
    <%= f.label :email_confirmation %><br />
    <%= f.email_field :email_confirmation %><br /><br />
    
    <%= f.label :password %><br />
    <%= f.password_field :password %><br /><br />
    
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %><br /><br />
    
    <%= f.submit %>
    
<% end %>