<p>Welcome Home!</p>
<%=link_to("Info", info_path)%>
<%=link_to("Comparsion", comparsion_path)%>
<%=link_to("Articles", articles_path)%>
<%=link_to("Sign up", signup_path)%>
<%=link_to("Users", users_path)%>
<%=link_to("Log in", login_path)%>
<%=link_to("Log out", logout_path, method: :delete)%>

<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>

      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
  </div>
<% end %>
