<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if !flash[:success].blank? %>
		<div class="notice">
		<%= flash[:success] %>
		</div>
<% end %>
  <% if logged_in? %> 
You are logged as: <%= current_user.name %> | <%= link_to "Settings", edit_user_path(current_user)%><br/>
<%end%>

<%= yield %>

</body>
</html>
